*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
}
.cella{
    width: 10vh;
    height: 10vh;
    background-color: antiquewhite;
    background-size: contain;
    background-position: center center;
    float:left;
    border:1px solid red;
}
#palya{
    max-width:90vh;
    margin:0 auto
}

.sor {

}
.sor::after {
    content: "";
    clear: both;
    display: table;
  }